#banner 
	.banner_content
		%h1 FILE CABINET
		%p Your life's work. Everything always organized.
		%button= link_to "Enter Here!", new_user_registration_path
	
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize Your Files
				%p Yuccie pork belly coloring book twee, gochujang synth kinfolk. Small batch swag stumptown man braid tumeric poutine ennui la croix. Man braid lyft brunch, poke austin cloud bread synth. Kale chips leggings thundercats banh mi irony locavore. Bitters pabst la croix cornhole shabby chic, distillery chambray. 
				
				
#bottom_cta
	.wrapper 
		%h2 Try now for free!
		%br 
		%button= link_to "Join!", new_user_registration_path
		
		
